body {
 background-color: peachpuff;
}

.home-img {
  width: 15%;
  display: block;
  margin: auto;
}
  
.img1 {
  width: 10%;
}

.img2 {
  width: 8%;
}

.img3 {
  width: 8%;
}

p {
 font-size: 18px;
}

